.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Background image is set in the JS file */
}

form {
  background: rgba(255, 255, 255, 0.0); /* Transparent form background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  width: 350px;
  text-align: center;
}

/* Additional styles for inputs, buttons, etc. */

form button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #9eafc2; /* Matching background color */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #9aa4ae;
}
